* {
	box-sizing:border-box;
  font-weight: bold;
	
}


body {
  height:100vh;
  width: 100%;
	margin:0;
	display:grid;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header{
  display: grid;
  max-height: 12vh;
  grid-row: 1;
  grid-column: span 2;
}
.logo {
  max-width: 30vh; 
  height: auto;
  margin-right: 1em;
}
.person-logo{
  width:4ch;
}
.members{
  display: inline;
}
.topbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1em;
  width: 100%;
  height: auto; 
  transition: all 0.3s ease; 
}


.nav-links {
  display: flex;
  gap: 20px; 
}

.nav-links a {
  text-decoration: none;
  padding: 10px;
  
}

.right-nav {
  display: flex;
  gap: 15px;
  align-items: center;
  
}
.right-nav a{
  text-decoration: none;

}


.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow: scroll; 
  @media (min-width: 0px) and (max-width: 768px) {
    width: 150vw;
    height: 150vh;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* عرض الصور كبير */
  grid-auto-rows: 200px; 
  gap: 5px; 
  position: relative;
  width: 300vw;
  height: 300vh; 
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*for tap*/
.gallery img:focus {
  outline: 2px solid #f9ff1e; 
  transform: scale(1.05); 
  transition: transform 0.2s ease, outline 0.2s ease;
}

.gallery img:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: rgba(0, 0, 0, 0); 
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  grid-row: 3;
  grid-column: span 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  z-index: 10;
  @media (min-width: 0px) and (max-width: 768px) {
    height: 30vh;
  }
}
.footer-filters{
  background-color: transparent !important;
}
/* تصميم النموذج */
.footer-search {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
  
}
.filter-button{
  cursor: pointer;

  
}

.search {
  display: flex; 
  align-items: center; 
  border: none;
  padding: 0;
  margin: 0;
  
}

.search input {
  padding: 15px; 
  font-size: 1.2rem; 
  border: none; 
  border-bottom: 2px solid #ccc; 
  outline: none; 
  border-radius: 0; 
  flex: 1; 
  transition: border-color 0.3s ease;
}

.search input:focus {
  border-bottom: 2px solid #333;   
}

.search button {
  padding: 15px 25px;    
  font-size: 1.2rem; 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  border-radius: 0; 
}

.search button:hover {
  background-color: #555;    
}
@media (max-width: 480px) {
  body > header{
    max-height: 15vh;
    
  }
  .nav-links{
    display: none;
  }


}
@media (max-width: 350px) {
  ul{
    grid-template-columns: repeat(1, 1fr);
  }
  
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.hamburger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media (min-width: 769px) {
    .nav-links {
      display: flex; 
      flex-direction: row;
      position: static;
      background-color: transparent;
    }
  
    .hamburger {
      display: none;
      }
  } 
    
}


.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;
  margin-right: 10px;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
}

.menu-text {
  font-size: 16px;
  font-weight: bold;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px; 
  width: 250px;
  height: 100%;
  color: #fff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1000;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.side-menu li {
  margin: 15px 0;
}

.side-menu a {
  text-decoration: none;
}

.side-menu.open {
  right: 0;  
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}
input{
  cursor: pointer;

}